::-webkit-scrollbar {
  width: 0.85rem;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 20, 88, 0.766);
  border-radius: 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: lightblue;
  font-weight: 600;
}